body {
	background-image: url("image/mainfile.jpg");
	background-size: cover;
	background-attachment: fixed;
	
}

.p1 {
	color: #3742fa;
	margin-left: 30px;
	margin-top: 245px;
	font-size: 70px;
	font-style: bold;
	font-family: impact;
	letter-spacing: 5px;
}

.p2 {
	color: #70a1ff;
	margin-left: 30px;
	margin-top: 0;
	font-size: 30px;
	font-style: bold;

}

.form {
	float: right;
	position: absolute;
	top: 160px;
	right: 30px;
	background: #fff;
	padding: 30px;
	box-shadow: 0.5px 0.5px 1.5px 1.5px #ffffff;
	border-radius: 7px;
}


.form1 {
	width: 280px;
	height: 40px;
	margin-top: 5px;
	padding: 25px 5px;
	border: 2px solid #00b894;
	border-radius: 7px;
}
.form2 {
	width: 280px;
	height: 40px;
	margin-top: 5px;
	padding: 25px 5px;
	border: 2px solid #00b894;
	border-radius: 7px;
}	

.form3 {
	width: 280px;
	height: 40px;
	margin-top: 5px;
	background-color: blue;
	color: white;
	font-size: 20px;
	border: none;
	font-weight: bold;
	border-radius: 7px;
}

.form4 {
	width: 280px;
	height: 40px;
	margin-top: 5px;
	color: blue;
	text-align: center;
	font-size: 15px;
	border: none;
}

.form5 {
	width: 160px;
	height: 40px;
	margin-left: 60px;
	background-color: #82ccdd;
	color: #000;
	border-color: #079992;
	border: none;
	border-radius: 7px;
}

.form6 {

	width: 280px;
	height: 40px;
	margin-top: 5px;
	padding: 25px 5px;
	border: 2px solid #00b894;
	border-radius: 7px;
}

